$def with (name)
<html>
<title>Новенький!</title>
<head>
</head>
    <body>
    <form name="auth" method="get" action="/reguseradd">
        <h1> $name</h1>
        Логин
        <br>
        <input type="text" name="name" value="" size="30px" />
        <br>
        Пароль
        <br>
        <input type="password" name="passw" value="" size="30px" />
        <br>
        Город
        <br>
        <input type="text" name="siti" value="" size="30px" />
        <br>
        <input type="submit" value="Регистрация"/>
        <br>
        <br>

    </form>
</body>
</html
